.Discover{
    width: 100%;
    height: 520px;
    display: block;
    text-align: center;
}
.Discover>h1{
    font-size: 32px;
    font-weight: 550;
}
.Bigcard-Des{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.card-img7{
    width: 274px;
    height: 346px;
    background: url("../assets/img7.png");
    text-align: start;
    background-repeat: no-repeat;
}
.card-img8{
    width: 306px;
    height: 400px;
    background: url("../assets/img8.png");
    text-align: start;
    background-repeat: no-repeat;
}
.card-img9{
    width: 274px;
    height: 346px;
    background: url("../assets/img9.png");
    text-align: start;
    background-repeat: no-repeat;
}
.B-text1{
    margin: 267px 25px ;
    color: white;
}
.B-text2{
    margin: 322px 25px ;
    color: white;
}
.B-text1>h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.B-text2>h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.B-text1>p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.B-text2>p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}